<div id="navbar-wrapper">
	<ul id="accessory-list">
		<li><a href="#">Sign In</a></li>
		<li><a href="#">Sign Up</a></li>
	</ul>
	<div id="navbar"> 
			<h1>Iris</h1>	
			<ul> 
				<li><a href="#">LinkHere</a></li> 
				<li><a href="#">LinkHere</a></li> 
				<li><a href="#">LinkHere</a></li> 
				<li><a href="#">LinkHere</a></li> 
				<li><a href="#">LinkHere</a></li> 
			</ul> 
	</div> 
</div>
